<h1><%= @team_name %></h1>


 <h2>Team Motto: <%= @team_motto %></h2>


 <h2>Hero Name: <%= @member1_name %></h2>
  <p>
    Hero Power: <%= @member1_power %><br>
    Hero Biography: <%= @member1_bio %>
  </p>


 <h2>Hero Name: <%= @member2_name %></h2>
  <p>
    Hero Power: <%= @member2_power %><br>
    Hero Biography: <%= @member2_bio %>
  </p>

 <h2>Hero Name: <%= @member3_name %></h2>
  <p>
    Hero Power: <%= @member3_power %><br>
    Hero Biography: <%= @member3_bio %>
  </p>

